.cursive_time_success {
    display: none;
}

.cursive_time_successfull {
    display: none;
}

.cursive_review_panel_path_mod_assign {
    position: fixed !important;
    height: calc(100vh - 205px) !important;
}

.cursive_grading-navigation-panel_path_mod_assign {
    position: fixed !important;
}

.cursive_grade-panel_path_mod_assign {
    position: fixed !important;
    height: calc(100vh - 205px) !important;
}

.cursive_grade-actions-panel_path_mod_assign {
    position: fixed !important;
    height: 120px !important;
}

.cursive-analytics-btn {
    background-color: #306ab3;
    color: white;
    border-radius: 8vw;
    text-decoration: none !important;
}

.cursive-analytics-btn:hover {
    background-color: #205aa1;
}

.cursive-analytics-btn span {
    padding: 3px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 16px;
}

.cursive-analytics-icon {
    background-color: white;
    color: #306ab3;
    border-radius: 5vw;
    padding: 2px 5px;
    margin: 3px;
}


.cursive-analytics-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #f3f3f3;
}

.cursive-analytics-header h3 {
    margin: 0;
    color: #306BB2;
}

.cursive-analytics-header .close-btn {
    font-size: 1.2rem;
    cursor: pointer;

}

.cursive-analytics-header .close-btn span {
    font-size: 1.5rem;
    padding: .25rem .7rem;
    transition: .3s ease-in-out;
    background-color: #FF3737;
}

.cursive-analytics-header .close-btn:hover span {
    background-color: rgb(211, 0, 0) !important;
}

.cursive-nav-tab {
    background-color: #f3f3f3;
    max-width: 250px;
    min-height: 465px;
}

.cursive-nav-tab .nav-item .nav-link {
    color: gray;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem 1rem;
}

.cursive-nav-tab .nav-item .nav-link svg {
    fill: gray;
    width: 25px;
    height: auto;
}

.cursive-nav-tab .nav-item.show .nav-link,
.cursive-nav-tab .nav-link.active {
    color: white;
    background-color: #306ab3;

}

.cursive-nav-tab .nav-item.show .nav-link,
.cursive-nav-tab .nav-link.active svg {
    fill: white;

}

.cursive {
    background-color: white;
    margin: 0 .5rem 1rem 0;
    border-radius: .2rem .2rem 1.1rem 1.1rem;
    padding: 1.2rem 0rem 0rem 2rem;
    height: 700px;
    overflow: auto;
}

.cursive-main {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: #f3f3f3;
    height: 100%;
}

.cursive .table tr td:nth-child(1) {
    display: inline-flex;
    gap: .5rem;
}

/* .cursive .table td:first-child {
    width: 1%;
    white-space: nowrap;
} */

.cursive-analyticcontent {
    overflow: hidden;
    min-height: 100%;
    background-color: #f3f3f3;
}

.cursive .table tbody {
    width: 100%;
}

.cursive .table tr {
    border-bottom: 1px solid #f3f3f3;
    /* width: 100% !important; */
}

.cursive .table td:first-child {
    font-size: 1rem;
    font-weight: 600;
}

.cursive .table td:last-child {
    color: #306ab3;
    font-size: 1rem;
    font-weight: 500;
}

.cursive .table tr td svg {
    fill: gray;
    width: 30px;
    height: auto;
}

.cursive .table tr:first-child td svg {
    width: 22px;
    height: 30px;
}

.cursive .table tr td:nth-child(1) {
    font-size: 1.18rem;
}

.cursive .table tr td:nth-child(1) p {
    font-size: 14px;
    color: gray;
    width: 190px;
    font-weight: 400;
    text-wrap: wrap;
}

.cursive .table tr td:nth-child(even) {
    font-size: 1.1rem;
}


.chatbox {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 300px;
    height: 400px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;

    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
}

.chatbox--tray {
    bottom: -350px;
}

.chatbox--closed {
    bottom: -400px;
}

.chatbox .form-control:focus {
    border-color: #1f2836;
}

.chatbox__title,
.chatbox__body {
    border-bottom: none;
}

.chatbox__title {
    min-height: 50px;
    padding-right: 10px;
    background-color: #1f2836cc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
}

.chatbox__title h5 {
    height: 50px;
    margin: 0 0 0 15px;
    line-height: 50px;
    position: relative;
    padding-left: 20px;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__title h5 a {
    color: #fff;
    max-width: 195px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatbox__title__tray,
.chatbox__title__close {
    width: 24px;
    height: 24px;
    outline: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;

    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

.chatbox__title__tray:hover,
.chatbox__title__close:hover {
    opacity: 1;
}

.chatbox__title__tray span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-bottom: 2px solid #fff
}

.chatbox__title__close svg {
    vertical-align: middle;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.2px;
}

.chatbox__body,
.chatbox__credentials {
    padding: 15px;
    border-top: 0;
    background-color: #FAFAFA;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}


.chatbox--empty {
    height: 262px;
}

.chatbox--empty.chatbox--tray {
    bottom: -212px;
}

.chatbox--empty.chatbox--closed {
    bottom: -262px;
}

.chatbox--empty .chatbox__body,
.chatbox--empty .chatbox__message {
    display: none;
}

.chatbox--empty .chatbox__credentials {
    display: block;
}

.chat_set_height {
    height: 40px;
    margin-top: 1px;
}

.chatbox22 .form-control:focus {
    border-color: #DCDCDC;
}

.width50 {
    width: 50%;
    float: left;
    background: #ECECEC;
}