<div  class="modal" id="playback_1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Playback Video</h4>
            </div>
            <div class="modal-body">
                <div id="output"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-close btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
